<html>

<head>
	
		<title>MOVIE RECOMMENDATION SYSTEM</title>
		
</head>
<body align="center">
	<h1 align="center" style="color:blue;background:powderblue;width:60%;font-style:verdict"> <p>MOVIE RECOMMENDATION SYSTEM</p> </h1>

<form  action='/predict' display="inline-block" method="post" style="background:powderblue; height:60% ;width:60% ;align:center">
		<marquee direction="left" style=" color:blue" width:"80%">ENTER YOUR FAVOURITE MOVIES WITH RATINGS</marquee>

	<p>Movie 1:<input type="text" name="m1" placeholder="Enter movie name"> rating: <input type="text" name="r1" placeholder="Enter rating"></p>
	<p>Movie 2:<input type="text" name="m2" placeholder="Enter movie name"> rating: <input type="text" name="r2" placeholder="Enter rating"></p>
	<p>Movie 3:<input type="text" name="m3" placeholder="Enter movie name"> rating: <input type="text" name="r3" placeholder="Enter rating"></p>
	<p>Movie 4:<input type="text" name="m4" placeholder="Enter movie name"> rating: <input type="text" name="r4" placeholder="Enter rating"></p> 
	<p>Movie 5:<input type="text" name="m5" placeholder="Enter movie name"> rating: <input type="text" name="r5" placeholder="Enter rating"></p>

    <p><input type="submit" value="recommend movies"></p>
</form>
</body>
</html>